<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Post #<%= @post.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/posts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @post.user %>
          <a href="/posts/<%= @post.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit post
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @post.user %>
          <a href="/delete_post/<%= @post.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete post
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @post.image %>" class="img-fluid">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @post.caption %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @post.user.present? %>
          <a href="/users/<%= @post.user_id %>">
            <%= @post.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "post_templates/post_likes" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "post_templates/post_fans" %>
  </div>
</div>
