<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Following #<%= @following.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/followings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/followings/<%= @following.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit following
        </a>
      </div>

      <div class="col">
        <a href="/delete_following/<%= @following.id %>" class="btn btn-block btn-outline-secondary">
          Delete following
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Recipient
      </dt>
      <dd>
        <% if @following.recipient.present? %>
          <a href="/users/<%= @following.recipient_id %>">
            <%= @following.recipient.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Sender
      </dt>
      <dd>
        <% if @following.sender.present? %>
          <a href="/users/<%= @following.sender_id %>">
            <%= @following.sender.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@following.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@following.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

